<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>userSave</title>
</head>
<body style="margin: 0;">
<div style="background-color: #313777; display: flex;margin: 0;padding: 10px;">
    <h2 style="color: white;font-style: italic;text-align:center; display:flex; margin-left:300px">dcinside.com 회원가입</h2>
</div>
<form action="/member/save" method="post" style="border: 2px solid #000; width: 300px; margin: 200px auto; padding: 20px;">
  <input type="text" name="memberId" style="width: max-content" placeholder="아이디"> <br>
  <input type="password" name="memberPassword" style="width: max-content" placeholder="비밀번호"> <br>
  <input type="text" name="memberName" style="width: max-content" placeholder="이름"> <br>
  <input type="submit" value="회원가입" style="background-color:#313777; color: white; width: 170px; margin-top: 10px; height:30px">
</form>
<hr style="margin-top: 200px">
<p style="text-align:center; color: gray">Copyright ⓒ 1999 - 2023 dcinside. All rights reserved.</p>
</body>
</html>